ul.bornes li { 
	list-style: none;
	display: inline;
}
ul.bornes li a { 
	border: 1px solid gray; 
	background-color: lightgray; 
	padding: 0.2em 0.5em; 
	text-decoration: none;
	color: #424242;
	border-radius: 4px;
}
td{white-space: nowrap; padding: 0 0.5em;text-align: right}

td.l{text-align: left}
