

/*  G E N E R I C S  */



/* 	Grid options: https://getbootstrap.com/docs/4.1/layout/grid/ 	*/

html { direction: ltr; }
body {  font-size:22px; margin:0em; width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;  }

.slightwhite { 
	background: linear-gradient(to right, rgb(244,244,248) 0px, rgb(248,248,255) 40%, rgb(255,255,255) 100%);
}

.bluewhite { 
	background: linear-gradient(to right, rgb(224,224,228) 0px, rgb(228,228,235) 40%, rgb(248,248,255) 100%);
}


body { font-family:"Calibri"  }
.bold { font-family:"Calibri Bold" }


li, p, h1, h2, h3 { margin:0; cursor:default; }
p.air, h1.air, h2.air, h3.air { margin-bottom:.7em; }
	p.airplus, h2.airplus, h3.airplus { padding-bottom:1em; }
p.gap, h1.gap, h2.gap, h3.gap { margin-bottom:.3em; }
p.airup, h1.airup, h2.airup, h3.airup { padding-top:.7em; }


h1 { font-size:48px; line-height:120%; font-weight:normal; }
	h1.mobminder { font-size:72px; }
	h1.bigger { font-size:54px; }
	h1.evenbigger { font-size:62px; }
	h1.airplus { margin-bottom:1.2em; }

h2 { font-size:32px; font-weight:normal; }
	h2.bigger { font-size:38px; }
h3 { font-size:22px; font-weight:normal; }
	h3.bigger { font-size:25px; font-weight:normal; }



a {	text-decoration:none; cursor:pointer; }
a div { cursor:pointer; }
a h2 { cursor:pointer; }
a:hover { text-decoration:none !important;  }

li, p  { font-size:1em; text-align:left; text-decoration:none !important; }
	p.bigger { font-size:1.1em; }
	p.bold { font-size:.95em; }
	p.bigger.bold { font-size:1.05em; }
	p.small { font-size:0.8em; }

dd { font-size:.8em; text-align:center; margin-left:0; margin:0; padding .3em; }
	dd.smaller { font-size:.75em; }

span.bigger { font-size:1.1em; } /* is not rem ! */ 

img.moblogo { width:310px; }
img.moblogo.medium { width:260px; }
img.tiny { width:4rem; }
	
	@media only screen and (min-width:576px) and (max-width:768px) { /* fonts resizing for portrait medium devices */
		
		body {  color:red; }
		h1 { font-size:42px; line-height:110%; }
			h1.mobminder { font-size:60px; }
			h1.bigger { font-size:48px; }
			h1.evenbigger { font-size:54px; }
		h2 { font-size:28px; }
			h2.bigger { font-size:31px; }
		h3 { font-size:21px; }
			h3.bigger { font-size:24px; }
	}
	
	@media only screen and (max-width:576px) { /* fonts resizing for portrait small devices */
		
		body {  color:green; }
		h1 { font-size:42px; line-height:110%; }
			h1.mobminder { font-size:60px; }
			h1.bigger { font-size:48px; }
			h1.evenbigger { font-size:54px; }
		h2 { font-size:28px; }
			h2.bigger { font-size:31px; }
		h3 { font-size:20px; }
			h3.bigger { font-size:23px; }
	}


table { border-collapse: collapse; margin:0 auto; }
table tr td { font-size:20px; padding:.1em .5em; }


.squeezed { margin-left:15%; margin-right:15%; }


	/* backgrounds */
	
.transparent { color:rgba(0,0,0,0); }
.white { color:white;  } 

.mob-bg-blue { background-color:#85A5BF; } 	/* rgb(133,165,191) blue mobminder for backgrounds*/
.mob-bg-lime { background-color:#c2e249; } 	/* rgb(194,226,73) light lime for backgrounds */
.mob-bg-gray_d { background-color:#595C6D; } 	/* rgb(89,92,109) 	*/
.mob-bg-gray_m { background-color:#898C9b; } 	/* rgb(137,140,155) */
.mob-bg-gray_l { background-color:#c9cCd8 } 	/* rgb(185,188,200) */
.mob-bg-gray_through { background-color:rgba(0,8,16,0.03) }


	/* writings */
	
.mob-txt-blue { color:#6897BF; 	} /* rgb(104,51,191) blue mobminder for normal sized text */
.mob-txt-lime { color:#C3D949; 	} /* rgb(195,217,73) light mobminder for normal sized text */

/*
.mob-txt-gray_xl { color:#b9bCc1; }  
.mob-txt-gray_l { color:#a5a599; text-shadow: -1px -1px 2px rgba(255,255,255,.4); }  
.mob-txt-gray_m { color:#888878; text-shadow: -1px -1px 2px rgba(255,255,255,.5); }
.mob-txt-gray_d { color:#676757; text-shadow: -1px -1px 2px rgba(255,255,255,.6); }
*/ 

.mob-txt-gray_xl { color:rgba(10,30,15,0.1); }  
.mob-txt-gray_l { color:rgba(10,30,15,0.4); text-shadow: -1px -1px 2px rgba(255,255,255,.4); }  
.mob-txt-gray_m { color:rgba(10,30,15,0.5); text-shadow: -1px -1px 2px rgba(255,255,255,.5); }
.mob-txt-gray_d { color:rgba(10,30,15,0.6); text-shadow: -1px -1px 2px rgba(255,255,255,.6); }
.mob-txt-gray_xd { color:rgba(10,30,15,0.9); text-shadow: -1px -1px 2px rgba(255,255,255,.9); }


.silver { color:#ccc; }


.relative { position:relative; }
.bottomer { position:absolute; bottom:0; }
	div.flexinner	{ display:flex; justify-content:center; /* display:-webkit-box; display:-ms-flexbox; -webkit-box-pack:center; -ms-flex-pack:center;*/ } /* let the boxes have all identical height */ 
	div.flexinner.left { justify-content: right; } 
	div.flexinner.right { justify-content: left; } 
	div.flexinner.center { justify-content: center; } 

.centered, ul.centered li { text-align:center; }
.right { text-align:right; }
.left { text-align:left; }


.checked-list-area {}    /*   lists with lime checker on the left side   */
.checked-list-area ul { padding-bottom:0px; }
.checked-list-area ul li { position:relative; display:block; padding-left:40px; line-height:1.4em; padding-bottom:13px; }
.checked-list-area ul li:before{ content:""; background:url(../imgs/mobicons/icon-check-g.png) no-repeat scroll 0 0/100%; position:absolute; width:1.3em; height:1.3em; left:0; top:.01em; }



	@media only screen and (max-width:768px) { /* fonts resizing for portrait small devices */
		.checked-list-area ul { padding-left:0px; }
	}

	.list-area {}    /*   lists with elements on the left side   */
	.list-area ul { padding-bottom:0px; }
	.list-area ul li { position:relative; display:block; padding-left:40px; line-height:1.4em; padding-bottom:13px; }  /*li01*/
	
		/* .list-area.checked ul li:before{ content:""; background:url(../imgs/mobicons/icon-check-g.png) no-repeat scroll 0 0/100%; position:absolute; width:1.3em; height:1.3em; left:0; top:.01em; } */
	
		.list-area.checked ul li:before { color:#c2e249; font-family: 'Font Awesome 5 Duotone'; content: "\f00c"; ; position:absolute; width:1.4em; height:1.4em; left:0; top:-0.1em; }
		.list-area.checked ul li:after { color:#c2e249; font-family: 'Font Awesome 5 Duotone'; content: "\10f00c"; ; position:absolute; width:1.4em; height:1.4em; left:0; top:-0.1em; }
	
	
	
		.list-area.user ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f007"; ; position:absolute; width:1.3em; height:1.3em; left:4px; top:-0.11em; }
		.list-area.user ul li:after { color:#C3D949; opacity:0.4; font-family: 'Font Awesome 5 Duotone'; content: "\10f007"; position:absolute; width:1.3em; height:1.3em; left:4px; top:-0.11em; }
	
		.list-area.handshake ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f2b5"; position:absolute; width:1.3em; height:1.3em; left:-8px; top:-0.07em; }
		.list-area.handshake ul li:after { color:#C3D949; opacity:0.4; font-family: 'Font Awesome 5 Duotone'; content: "\10f2b5"; position:absolute; width:1.3em; height:1.3em; left:-8px; top:-0.07em; }
	
		.list-area.link ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f0c1"; ; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.07em; }
		.list-area.link ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f0c1"; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.07em; }
	
		.list-area.pointer ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f25a"; ; position:absolute; width:1.3em; height:1.3em; left:8px; top:-0.25em; }
		.list-area.pointer ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f25a"; position:absolute; width:1.3em; height:1.3em; left:8px; top:-0.25em; }
	
		.list-area.mobile ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f87a"; ; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.25em; }
		.list-area.mobile ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f87a"; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.25em; }
	
		.list-area.clock ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f34e"; ; position:absolute; width:1.3em; height:1.3em; left:5px; top:-0.2em; }
		.list-area.clock ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f34e"; position:absolute; width:1.3em; height:1.3em; left:5px; top:-0.2em; }
	
		.list-area.users ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f0c0"; ; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.1em; }
		.list-area.users ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f0c0"; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.1em; }
	
		.list-area.thumb ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f164"; ; position:absolute; width:1.3em; height:1.3em; left:3px; top:-0.1em; }
		.list-area.thumb ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f164"; position:absolute; width:1.3em; height:1.3em; left:3px; top:-0.1em; }
	
		.list-area.shield ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f2f7"; ; position:absolute; width:1.3em; height:1.3em; left:3px; top:-0.1em; }
		.list-area.shield ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f2f7"; position:absolute; width:1.3em; height:1.3em; left:3px; top:-0.1em; }
	
		.list-area.training ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f6a3"; ; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
		.list-area.training ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f6a3"; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
	
		.list-area.cross ul li:before { color:#d94b49; font-family: 'Font Awesome 5 Duotone'; content: "\f057"; ; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
		.list-area.cross ul li:after { color:#d94b49; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f057"; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
	
		.list-area.ok ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f058"; ; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
		.list-area.ok ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f111"; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
	
		.list-area.down ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f063"; ; position:absolute; width:1.3em; height:1.3em; left:0px; top:0em; }
		.list-area.down ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f063"; position:absolute; width:1.3em; height:1.3em; left:0px; top:0em; }
	
		.list-area.qrcode ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f029"; ; position:absolute; width:1.3em; height:1.3em; left:3px; top:-0.1em; }
		.list-area.qrcode ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f029"; position:absolute; width:1.3em; height:1.3em; left:3px; top:-0.1em; }
	
		.list-area.infinity ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f534"; ; position:absolute; width:1.3em; height:1.3em; left:0px; top:0em; }
		.list-area.infinity ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f534"; position:absolute; width:1.3em; height:1.3em; left:0px; top:0em; }
	
		.list-area.smartphone ul li:before { color:white; font-family: 'Font Awesome 5 Duotone'; content: "\f10b"; ; position:absolute; width:1.3em; height:1.3em; left:3px; top:-0.1em; }
		.list-area.smartphone ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f3cd"; position:absolute; width:1.3em; height:1.3em; left:3px; top:-0.1em; }
	
		.list-area.ecommerce ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f07a"; ; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
		.list-area.ecommerce ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f07a"; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
	
		.list-area.terminal ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f1ec"; ; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
		.list-area.terminal ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f1ec"; position:absolute; width:1.3em; height:1.3em; left:-5px; top:-0.1em; }
	
		.list-area.bankcard ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f09d"; ; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.1em; }
		.list-area.bankcard ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f09d"; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.1em; }
	
		.list-area.headset ul li:before { color:#C3D949; font-family: 'Font Awesome 5 Duotone'; content: "\f590"; ; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.1em; }
		.list-area.headset ul li:after { color:#C3D949; opacity:0.5; font-family: 'Font Awesome 5 Duotone'; content: "\10f590"; position:absolute; width:1.3em; height:1.3em; left:0; top:-0.1em; }
	
	
	
	
	
.wrapred { border: 1px solid red; }
.wrapgreen { border: 1px solid green; }
.wrapblue { border: 1px solid blue; }
	
	
	

	/*        S  E  C  T  I  O  N  S         */


section, header { width:100%; }
	section.air { padding-bottom:4rem; }
	section.airup { padding-top:3rem; }
div.margins { margin:0 auto; max-width:1100px; padding:0em 1em; /* border-left:1px solid red; border-right:1px solid red; */ }
div.wide {  position:relative; margin:0 auto; max-width:92%; padding:0em 1em; /* border-left:1px solid red;  border-right:1px solid red; */ }
	@media only screen and (max-width:576px) { /* fonts resizing for portrait small devices */
		div.wide { max-width:96%; padding:0em .3em; }
	}
	@media only screen and (min-width:1200px) { /* fonts resizing for portrait small devices */
		div.wide { max-width:1400px; padding:0em 1em; }
	}
	div.wide.air { padding-bottom:3em; }

div.air { padding-bottom:1rem; }
	div.airup { padding-top:1rem; }
	
div.gas {
	min-height:140px; /* keep aligned (*ka01*) */
} 

.bgwhite { background-color:white;  }


	

			/*        A N I M A T I O N S      */



h1.mobul { position:relative; z-index:1; }
h1.mobul::after { content:''; position:absolute; z-index:-1; bottom:-.4em; left:0; right:0; height:.1em; 
				background:linear-gradient(to right, transparent 0px, rgba(63,85,108,.2) 50%, transparent 100%);
				transform: scaleX(0); transform-origin:left; 
				transition: transform 400ms ease-in ; }
				
h1.mobul:hover::after { transform: scaleX(1); transform-origin:right;  }

.unfold {
	text-overflow: clip;
	transition: transform .5s ease-out, opacity .5s ease-in, clip-path 1s ease-out;
	opacity: 0;
}

.roll-left { clip-path: inset(0 100% 0 0); }
.roll-top { clip-path: inset(0 0 100% 0); }
.roll-right { clip-path: inset(0 0 0 100%); }
.roll-bottom { clip-path: inset(100% 0 0 0); }
.roll-horizon { clip-path: inset(50% 0 50% 0); }

.from-left { transform: translate(-60px, 0); }
.from-top { transform: translate(0, -60px); }
.from-right { transform: translate(+100px, 0); }
.from-bottom { transform: translate(0, +60px); }
.from-center { transform: scale(0.7,0.7); transform-origin:center; }
.v-flip { transform: scale(0,1.2); transform-origin:center; }
.h-flip { transform: scale(1.2,0); transform-origin:center; }

.do-unfold {
	transform: translate(0,0);
	transform: scale(1,1);
	opacity: 1;
}
.roll-left.do-unfold, .roll-top.do-unfold, .roll-right.do-unfold, .roll-bottom.do-unfold, .roll-horizon.do-unfold {
	clip-path: inset(0 0 0 0); 
}

.invp, .s1, .s2, .s3, .s4 { /* are used as selectors by the js (*pvh01*) */ }


.zoom { transition: transform .2s; }
.zoom:hover { transform: scale(1.05); }

		
		
			/*     C  T  A s    */
			
.cta {
	display: block;
	color: rgb(255, 255, 255); 
	font-size: 0.95em;
	letter-spacing:.06em;
	padding: 15px 32px;
	text-align: center;
	cursor: pointer;
	display:flex;
	align-items: center;
	justify-content: center
}

	.cta_1 {
		border-radius: 0em 1em 0em 1em;
		width:300px; height:3.5em;
		background-position: left;
		background-size: 200%;
		transition: 0.5s;
		transform-origin:center; 
		background-image: linear-gradient(145deg, #F4732A, #E64505 , #F4732A );
	}

	.cta_1:hover {
		background-position: right;
		transform: scale(1.05);
	}


.cta_2  {
		font-size: 0.9em;
		/*width: 270px;*/
		/*height: 80px;*/
		border-radius: 5px;
		padding: 10px 10px;
		display:flex;
		justify-content: center;
		align-items:center;
		cursor: pointer;
		text-align: center;
		border: 2px solid rgba(10,30,15,0.5);
		color: rgba(10,30,15,0.6);
}

.cta_2:not(.disabled):hover {
		background:#C3D949;
		border: 2px solid #C3D949;
}

.cta_2:not(.disabled):hover i{ color:white; }


		/*  B I G     B T N S  -    S E C T I O N   C H A N G E     */

.illustrated-btn div.wide { max-width: 1200px; } 
	#clouds div.airplus { padding-top:100px; }
	.illustrated-btn { max-width:300px; margin:1em; border-radius:1em 1em .2em .2em; background: rgba(255, 255, 255); box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2); }/*display:flex; } /* display:flex in the wrapper works along with height:auto; in the inner div. */
	.illustrated-btn :hover div { background:#C3D949; }
	.illustrated-btn:hover div i{ color:white; text-shadow: none; }
	.illustrated-btn img { max-width:100%; border-style:none; margin:auto; display:block; border-radius:1em 1em 0 0; } /* border-radius should stay on img and on outer div */

	@media only screen and (max-width:576px){
		.illustrated-btn { margin:.3em; width:50%; }
	}

		.cta_3  {
			font-size: 0.9em;
			height: 80px;
			border-radius: 0 0 5px 5px;
			padding: 5px 5px;
			display:flex;
			justify-content: center;
			align-items:center;
			cursor: pointer;
			text-align: center;
		}


			/*     F O R M      I N P U T S    */

input, textarea { color:black; background:white; outline:0; border-style:solid; border-width:1px; border-radius:.3em; }
		

input.small { /* post values, visible only in translation mode */
    color:inherit; font-size:18px; display: inline-block; width:3em; margin-left:1em; padding:2px 5px; border-radius:1em; border:1px solid silver;
}	


textarea.validOK,
input.validOK,
div.validOK {
    border-color:#1e90ff8c;
}

textarea.validNOK,
input.validNOK,
div.validNOK {
    border-color:orange;
}


			/*    I N F I N I T E     C A R O U S E L      */



.slider{

	height: 300px;
	padding:2em 0;
	margin:auto;
	position:relative;
	width: 100%;
	display:grid;
	place-items:center; 
	overflow: hidden;

}
.slide-track { display: flex; }
.copy-me { display:flex; }

.scroll-to-left.go { animation:scroll-toleft 25s linear infinite; } /* (-st01-) started by script */
.scroll-to-right.go { position:absolute; right:0; animation:scroll-toright 25s linear infinite; }

.slide-track:hover { animation-play-state: paused; }

@keyframes scroll-toleft { 0% { transform: translteX(0); } 100% { transform: translateX(-25%); /* (-st01-) 4 wagons */ } }
@keyframes scroll-toright { 0% { transform: translteX(0); } 100% { transform: translateX(25%); /* (-st01-) 4 wagons */ } }

.slide { padding:15px; }

/* gradient shadows */

.slider::before, .slider::after {
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	content:'';
	height:100%;
	position: absolute;
	width: 15%;
	z-index:2;
}

.slider::before{ left:0; top:0; }
.slider::after{ right:0; top:0; transform:rotateZ(180deg); }




			/*    T R A N S L A T I O N     T O O L      */
			

.xlpoint { color:red; cursor:pointer; }
.xlchanging { color:red; }
.xlmodal.overlay { background:rgba(0,0,0,0.2);  }
.xlmodal.window { box-shadow:1em 2em 1em rgba(0, 0, 0, 0.4); }
.xlmodal.window div.inner { background:rgba(255,255,255,0.7); color:red; font-size:22px; padding:1em; border:3px solid red;  }
.xlmodal.window div.busy { background: rgba(255, 255, 255, 0.6) url(spinner-128px.gif) center center no-repeat; }

.xlmodal.window,
	.xlmodal.window div.inner,
	.xlmodal.window div.busy { border-radius: 20px 2px 20px 2px; }


div.window div.wide { width:100%; min-width:100%; }
div.window td.right { text-align:right; }
div.window td.up { vertical-align:top; }
div.window td.left { text-align:left; color:red; }
div.xlmodal.window textarea { border:1px solid silver; border-radius:3px; width:100%; }
div.xlmodal.window input.small { font-size:18px; border:none; color:grey; width:5em; margin:.2em; text-align:center; }
div.xlmodal.window div.click.submit { font-size:24px; display:inline-block; width:5em; border:none; border-radius:3px; background:red; padding:2px; color:white; text-align:center; }



			/*     C A P T C H A       */

section.captcha {
	}


	section.captcha div.radio-box { padding:1em 5%; }
	section.captcha h2.captcha-question { padding-top:1em; }





/* Fancy styling for checkboxes and radio buttons, using font awesome */

div.fancy.lefter p { text-align:left; }
div.fancy.righter p { text-align:right; }


.fancy label {
	cursor: pointer;
}
.fancy label span {
	line-height:1.2em;
}
.fancy h3 { padding:}
.fancy label input[type=checkbox],
.fancy label input[type=radio] {
	border-style:none; border-width:0; border-radius:0; outline: none;
    position: relative; bottom:-.1em; /* little drop of the radio/check symbol so it appears in fromt of the label */
    appearance: none; -webkit-appearance: none; -moz-appearance: none;
    font-size: 32px; width: 1em; margin: 0; color: #BBE82A;
    font-family: 'Font Awesome 5 Pro';
    transition: 500ms ease-out;
    background: transparent;
    /* webkit on Safari will apply black if not specified here */
}
.fancy label input[type=checkbox]::after,
	.fancy label input[type=radio]::after {
		-moz-appearance:initial; /* https://stackoverflow.com/questions/35378360/before-after-pseudo-elements-not-showing-firefox/35378410 */
		content: '\f111';
		display: inline-block;
		text-align: center;
		width: 1em; 
	}

.fancy label input[type=checkbox]:checked:after,
	.fancy label input[type=radio]:checked:after { font-weight: 900; }
.fancy label input[type=checkbox]:checked:after { color: #BBE82A; }
.fancy label input[type=checkbox]:active,
	.fancy label input[type=radio]:active { -webkit-transform: scale(0.6); transform: scale(0.6); }
	
.fancy label span + input[type=checkbox],
	.fancy label span + input[type=radio] { margin-left: .5em; }
	
.fancy.lefter label input[type=checkbox], /* lefter has radio buttons aligned left */
	.fancy.lefter label input[type=radio] { margin-right: .5em; }
	
.fancy label input[type=radio]:checked:after { content: '\f192'; }
.fancy label input[type=checkbox]:checked:after { content: '\f058'; }
.fancy.square label input[type=checkbox]:after { content: '\f0c8'; }
.fancy.square label input[type=checkbox]:checked:after { content: '\f14a'; }



			/*     M O B   M E N U    */

#stickymenu { position:fixed; left:0; top:0; width:100%; z-index:98; /*box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);*/ } /* (-zi01-) */
#topmenu { position:relative; width:100%; /* height:2em; line-height: 2em; */ height:3.5em; line-height: 3.5em;  }

div.menu-banner { /* used for topmenu but also for flux padding div ! */
	position:relative;
	/* padding-left:4em; padding-right:4em; */ padding-left:2.5em; padding-right:2.5em;
	text-align:center;
	/* height:2em; max-height:2em; */ height:3.5em; max-height:3.5em; overflow:hidden;
}
div.menu-banner > span { white-space:nowrap; margin:0 1em 0 1em; font-size:95%;  }
	div.menu-banner span a {font-size:inherit; }
	div.menu-banner span a i { margin-right:0.7em; }
	div.menu-banner span a:hover{ color:rgb(195,217,73); }

	/* @media only screen and (max-width: 400px) { 
		div.menu-banner span span.hidden-txt { display:none; }
	} */


input.checkbox_toggle { display:none; }

.toggle-label {
	position: absolute;
	top: 0;	width: 6em; height: 100%;  /* (-nt01-) */
	text-align:left;
	padding: 0 0.8em; 
	}

.toggle-label.nav-toggle-label { left:0; }
.toggle-label.lang-toggle-label { right:0; text-align: right; }

label.toggle-label > span { font-size:85%; text-transform: uppercase;  }

label.toggle-label:hover {cursor: pointer;}

.checkbox_toggle:checked ~ label {
	width: 100%; height:100vh;  /* (-nt01-) */
} 


.checkbox_toggle:checked + nav { transform: scale(1,1); } 
.checkbox_toggle:checked + nav a { opacity: 1; }

nav.list {
	position:absolute; z-index:100; /* (-zi01-) */
	background:rgba(73,105,131,.8);
	backdrop-filter: blur(6px);
	top:100%; min-width: 12em; /* set top 0% and padding-top 2em for backsliding effect on dropdown menu */
	transform: scale(0,1); /*display:none;*/
	transition: transform 300ms ease-in-out;
}

nav.list.l-left { left:0; border-radius: 0 0 1em 0; transform-origin: left;}
	@media only screen and (max-width: 768px) { 
		nav.list.l-left { width:100%; border-radius: 0 0 0 0; }	
	}

nav.list.l-right { right:0; border-radius: 0 0 0 1em; transform-origin: right;}
nav.list ul { margin:0; padding: 1em 0 1em 0; list-style: none; }
nav.list a {
	font-size: 0.9em;
	padding: 0 0 0 .8em;
	display: block;
	line-height: 3em;
	opacity: 0;
	transition: padding 200ms ease-out, opacity 200ms ease-in-out 150ms;
	position: relative;
}

nav.list a:hover { padding: 0 0 0 3em; }
i.icone{ position:absolute; left:0.8em; display:none; }
nav.list a:hover i.icone { display:inline-block; }







			/*     M O B   F O O T E R     */
			
section.mobprefooter {
	background-color:rgba(30,15,15,1)
}
		div.fvideotitle {
			display:flex;
			justify-content: center;
			align-items: center;
			height:100px;
		}
		
		div.videobanner {
			
			position:relative;
			background-image: url(../imgs/banners/bg-welcome-features.jpg); /* the smiley girl lookging at you */
			background-repeat: no-repeat; 
			background-size: auto 410px;
			background-position: right -140px bottom 0px;
			/* border: 1px solid red; */
		}
		
		div.videowrap { 
			width:720px; height:400px;
			margin-left:10%;
			/* border: 1px solid blue; */
		} 
		
		@media only screen and (max-width: 1200px) { 
			div.videowrap { margin-left:0; }
			
		} @media only screen and (max-width: 992px) { 
			div.videobanner { background:white; text-align:center; }
			div.videowrap { margin-left:auto;  margin-right:auto; width:90%; }
			
		} @media only screen and (max-width: 768px) { 
			div.videowrap { margin-left:auto; width:100%; height:auto; }
		}
		
		
		section.mobprefooter video, section.mobprefooter div.video-, .vjs-poster  {
			border-radius:40px 40px 0 0;
						
		}section.mobprefooter video { 
			border: 1px solid silver;
			
		} @media only screen and (max-width: 1200px) { 
			section.mobprefooter video, section.mobprefooter div.video-js, .vjs-poster { border-radius:0 40px 0 0; }
						
		} @media only screen and (max-width: 992px) { 
			section.mobprefooter video, section.mobprefooter div.video-js, .vjs-poster { border-radius:20px 20px 0 0; }
			
		} @media only screen and (max-width: 768px) { 
			section.mobprefooter video, section.mobprefooter div.video-js, .vjs-poster  { 
				border-radius:0; 
				border:none; }
			
		} 

		section.touchvideo video, section.touchvideo-qrcode video {
			border-radius:20px 20px;
		}
		

section.mobfooter {
	
	min-height: 360px;  
	position: relative;
	background-color: rgba(30,15,15,.7); /*  */
	background-image: url(../imgs/banners/footer_city_03.jpg);
	background-repeat: repeat no-repeat;
	background-size: auto 120%;
	background-position: left 0px bottom 0; /* see (*cp02*) */
	
}	@media only screen and (max-width: 576px) { 
			section.mobfooter { background-size: auto 100%; }
		}
		section.mobfooter div.worldmapshade { 
			position: absolute; z-index:0; top:0; 
			left:0; bottom: 0px; width:100%; 
			background: linear-gradient(to bottom, rgba(30,15,15,1) 0px, rgba(30,15,15,.6) 30%, rgba(30,15,15,.8) 100%);
			
			/*border:3px solid blue;*/
		}@media only screen and (max-width: 1200px) { 
			
		}@media only screen and (max-width: 992px) { 
			section.mobfooter div.worldmapshade { top:0; }
			
		} @media only screen and (max-width: 768px) { 
			section.mobfooter div.worldmapshade { top:0; }
		}
		
		section.mobfooter div.figures {
			position: relative; z-index:1;
			background-color: transparent; 
			min-height: 200px;		
			/* border:2px solid red;*/
		}
		section.mobfooter div.vfooter {
			position: relative; z-index:1;
			background-color: transparent; 
			/* border:2px solid red;*/
			min-height: 50px;		
		}

		.footer-box { margin:.3em; height:auto; width:100%; text-align:center; border-radius:.5em .5em .5em .5em;
						background:linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.05), rgba(255,255,255,.1), rgba(255,255,255,.15)); }
		.footer-box-inner { height:100%; width:100%; padding:10px 20px 20px 20px; }
		.footer-box-inner div.fad { margin-bottom:.5em; }
		
		.footer-box-inner h3 { margin:0 0 15px 0; } 
		.footer-box-inner p { margin-bottom:0; }

		.footer-box-inner a {display:flex; align-items:center; justify-content:center; }
		.footer-box-inner a.phone {justify-content:right;}
		.footer-box-inner a:hover { color:rgb(195,217,73); }
		/*.footer-box-inner a span { padding-top:.5em; }*/
		.footer-box-inner a i.app-link { margin-right:.4em; }





