
/* global rules */

body { 
	color: /*blue;*/ #444;
	font-family: verdana, Arial, Helvetica, sans-serif; 
	margin:0; 
	
	background: white; 
	position: relative;
	font-size: 0.8em; 
	overflow-y:scroll;
	-webkit-font-smoothing:antialiased;
	
	width:96%; margin: 1em auto; 
}

div.verbose input, div.verbose textarea { 
	color: /*red;*/ #556; /* note that the color specified for the body does not apply to input elements, hence this statement */
	background-color: white;
	padding-left:0.5em; 
	
	border-radius:3px;
    border:1px solid rgba(0,0,0, 0.2);
	
	outline:none;
    transition: box-shadow 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    -moz-transition: box-shadow 0.25s ease-in-out;

	-webkit-appearance: none; /* rmoves the inner shadow on mobile devices on Safari */
} 

div.verbose input:focus, div.verbose textarea:focus {
    box-shadow: 		0 0 5px rgba(20, 21, 255, 0.6);
	border:				1px solid rgba(20, 21, 255, 0.5); 
}

div.verbose textarea { font-size: 1.4em; } /* this setting makes input and textarea being equal font sized */
div.verbose input { font-size: 1.2em }
div.verbose table { border-collapse:collapse; border:none; margin:0; padding:0; border-spacing: 0; }

div.verbose h1 {	margin:2em 0 0em 0; font-size:2em; color:#85A5BF; font-weight: normal; letter-spacing:-0.04em; }
div.verbose h2 {	margin:1em 0 0em 0; font-size: 1.4em; color: #a4b357; font-weight: normal }									
div.verbose h3 {	margin:0; font-size:1em; color:red; }	/* errors */															
div.verbose h4 {	margin:1em 0 0em 3em; font-size:1em; color:darkgreen; } /* green */
div.verbose a {	text-decoration: none; cursor:pointer; font-size:1.2em; font-weight:bold; color:red; border:1px solid #85A5BF; border-radius:0.3em; padding:0.2em 2em; }
div.verbose p { margin: 0.5em 0 0em 3em }
