
/* 3801 Medeo - Pierre Halut */

/*

div.action { border-radius:3em !important; }

section.s-links {
   box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
}

h1 { color:rgb(111,111,111); }
h2 { color:rgb(51,53,94); }

section.s-info div.container {
   margin-top:1em;
   background:white; 
   padding:1em; 
   box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
   border:	none; 
   border-radius:1em;
   margin-bottom:1em;
}
	
div.e-bullet, input.e-button, div.action { background:#9CC300; color:white; }

*/