
p {	margin: 0 0 0.5em 0; }
.logo {		
	text-align: right;
	margin: 0px 3% 0 0;	
	float: right;			
}

h1 {					
	text-align: center;
	font-size:70%;
	color:#6395be;
}
h2 {						
	margin: 0.2em 0 0.5em 0;
	font-size: 1.3em;
	color: #c2e249;
}
										
h3 {						
	margin:0;
	font-size:1em;
}

table { margin-bottom: 15mm;}

td { vertical-align: top;}
td.framed { border:	1px solid #6395be; padding: 2mm; }


/* =================== GENERIC
	===========================================================	*/
.right {					text-align: 			right;		}
.left {					text-align: 			left;		}
.center {				text-align: 			center;		}
.middle {				vertical-align: 		middle;		}
.top {					vertical-align: 		top;		}
.bottom {				vertical-align: 		bottom;		}
.noborder {				border:					0px;		}
.pad {					padding:				0.2em 1em;	}
.nowrap {				white-space:			nowrap;		}
.mobcolor {				color:					#6395be; 	}
.mindercolor {			color:					#c2e249;	}
.warning {				color:					orange;		font-weight: bolder; }
.small {					font-size:				85%;		}
.big {					font-size:				130%;	font-weight: bolder;	}
.fbig {					font-size:				160%;	font-weight: bolder;	}


