Options +FollowSymlinks
RewriteEngine on

#RewriteCond %{HTTPS} !=on
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

RewriteRule   ^(.+)  https://be.mobminder.com/e-resa.php?p=$1

#=> Quand on indiquera agenda.mobminder.com/lousse
#=> Ca va appeler http://be.mobminder.com/e-resa.php?p=lousse
