
/* 3617 Imagerive Suisse */

body.c3617 { background:#ECF0F1;  }
body.c3617 h1 { color:rgb(236,240,241); }
body.c3617 h2, div.container { color:rgb(110,110,110); }
body.c3617 .action {  } /* this is the orange on buttons */
body.c3617 .e-button {  }
body.c3617 section.s-h1 {  margin-bottom:0; }
	body.c3617 section.s-h1 h1 { margin:0 auto; padding:1em 0; max-width:900px; background:rgb(52,73,94); border-radius:.3em .3em 0 0; }

body.c3617 section.s-img {  padding:0em; margin-top:0; margin-bottom:0; }
	body.c3617 section.s-img div { margin:0 auto; padding:0; background:rgb(52,73,94); max-width:900px; }
		body.c3617 section.s-img div img { max-height:200px !important; }
	
body.c3617 section.s-info  { padding:0em; margin:0; margin-bottom:0; margin-top:0em; }
	body.c3617 section.s-info div.container { margin:0 auto; padding:1em 0; background:white; max-width:900px;  }

body.c3617 section.s-action { padding:0em; margin:0; margin-top:0; margin-bottom:0; }
	body.c3617 section.s-action div.container { margin:0 auto; padding-top:2em; background:white; max-width:900px;  }
	body.c3617 article div.action { color: rgb(236,240,241); }
	
body.c3617 section.s-directions { padding:0em; margin:0; margin-top:.35em; margin-bottom:0; }
	body.c3617 section.s-directions div.container { margin:0 auto; padding-top:1em; background:white; max-width:900px; border-radius:0 0 .3em .3em; }
	body.c3617 section.s-directions div.container article { padding-left:2em; padding-right:2em;  }


body.c3617 section.s-footer { background:rgb(52,73,94); margin-top:10em; /* display:none; */ }


body.c3617 div.e-bullet, input.e-button, div.action { background:rgb(44,152,139);  }

