

/* 3863 - Osteo Philippe Goffin - Centre Lotus */

/* background colors */

body { background:rgb(210,220,190);  }

section.s-h1 div.container {  background:white; }

section.s-info div.container 
	, section.s-img div.container 
	, section.s-directions div.container 
	, section.s-action div.container
	, section.s-desk div.container { background:white; }
	
div.e-bullet
	, input.e-button { background:rgb(83,158,67); color: rgb(236,240,241); }

div.action { background:rgb(200,250,170); color:rgb(96,79,63); } /* action buttons */
	
section.s-footer { background:grey; }
	
	
/* font colors */
	
h1 { color:rgb(136,119,103); font-size:1.5em !important; }
h2, div.container { color:rgb(126,109,93); }
div.e-bullet-caption { color:white;  }
section.s-footer div.container { color:silver; }


/* border radius */

section.s-h1 div.container { border-radius:1em 1em 0 0; }
section.s-directions div.container
	, section.s-desk div.container { border-radius:0 0 1em 1em; }



/* section margins adjustment */

section.s-h1 {  margin-top:1em; }
section.s-info {  margin-top:0em; } /* let info block gap from image, if 0, continuous body appears */
section.s-directions { margin-top:0em; } /* let directions block gap from info block, if 0, continuous body appears */



/* miscellaneous */

section.s-img div.container img { max-height:340px !important; }
	

